* {
    margin: 0;
    font-family: inter;


}

.header {
    width: 1440px;
    height: 628px;
    left: 3px;
    top: 0px;
    background: #FFF8F3;
    background-image: url('../images/donation5.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.banner {

    padding: 164px 209px 327px 205px;
    text-align: center;
}

.banner-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}


.banner-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    padding: 0 120px 0 120px;
}

.btn-primary {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF5959;
    border-radius: 5px;
    padding: 16px 12px;
    gap: 8px;
    border: none;

}

.section-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 30px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin: 0 255px;
    margin-bottom: 50px;
}

.button {
    text-align: center;

}

.btn-section {

    font-weight: 700;
    font-size: 30px;
    text-align: center;
    border: none;
    color: #707070;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 44px 24px;
    margin-right: 22px;

}

#change {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

.other-amount {
    text-align: center;
    color: #B3B3B3;
    margin-top: 60px;
    margin-bottom: 9.5px;
}

.donate-plan {
    text-align: center;
}

.donate-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

.button-n {
    text-align: center;
}

.button-n {
    margin-top: 40px;
    margin-bottom: 130px;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF5959;
    border-radius: 5px;
    padding: 16px 12px;
    gap: 8px;
    border: none;

}

.donate-discription {
    font-weight: 400;
    font-size: 18px;
    margin: 0 255px;
    margin-bottom: 50px;
}

.plans-container {
    display: flex;
    gap: 24px;
}

.plan {

    background: #FFFFFF;
    box-shadow: 0px 6px 50px #0000000f;
    border-radius: 5px;
    padding: 30px;
}

.plan-title {
    font-weight: 600;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.plan-description {
    color: #757575;
}

.contribute {
    display: flex;
    margin-top: 130.5px;
    gap: 83px;
    align-items: center;
}

.con-img {
    margin-right: 252px;
}

.con {
    width: 482px;
    height: 374px;
    margin-left: 156px;
}

.con-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.con-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

.con-button {
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 16px 21px;
    background: #FF5959;
    border-radius: 5px;
    border: none;
}

.con-img2 {
    margin-left: 156px;
}

.con2 {
    margin-right: 252px;
}

.con-title2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.con-description2 {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}

.con-button2 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 16px 21px;
    background: #FF5959;
    border-radius: 5px;
    border: none;
}

.update {
    text-align: center;
}

.u-title {
    font-weight: 700;
    font-size: 45px;

    margin: 130px 464px 20px 423px;

}

.u-description {
    padding: 0 2px;
    color: #707070;
    margin: 0 375px 50px;

}

.input {
    background-color: #FFF4D6;
    margin: 0 315.5px 130px;
    width: 809px;
    height: 200px;
    padding-top: 140px;


}

.in-email {
    border: none;
    width: 275px;
    height: 48px;
    left: 505px;
    top: 3518px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
}

.btn-sub {
    border: none;
    width: 157px;
    height: 48px;
    left: 780px;
    top: 3518px;

    background: #FF5959;
    border-radius: 0px 5px 5px 0px;

}

footer {
    width: 1440px;
    height: 177px;
    background: #0B0D17;
    text-align: center;
}

.fo-title {
    font-family: lobster;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;
    padding-top: 43px;
    color: #FF5959;
}

.fo-description {
    padding-top: 24px;
    color: #D9DBE1;
    font-size: 14px;
    line-height: 24px;
}